<footer class="footer">

    <div class="container">

        <div class="row">

            <div class="col-md-3 mb-5">

                <div class="footer__services">

                    <ul>

                        <p class="footer--heading">Our Services</p>

                            <li>Translation And Editing</li>
                            <li>Desktop Publishing</li>
                            <li>Transcription</li>
                            <li>Voice Over</li>
                            <li>Testing and Localization Engineering</li>
                            <li>E-Learning</li>
                        
                        </ul>
                </div>

            </div>

            <div class="col-md-3 mb-5">

                <div class="footer__services">

                    <ul>

                        <p class="footer--heading">Join Us</p>

                        <a class="btn btn-danger btn-lg">Click Here!</a>
                    
                    </ul>


                </div>

            </div>

            <div class="col-md-3 mb-5">

                <div class="footer__services">

                    <ul>

                        <p class="footer--heading">Contact Us</p>

                        <li>Phone: 00022100085</li>

                        <li>Email: Lorem ipsum dolor sit amet.</li>
                    
                    </ul>

                </div>

            </div>

            <div class="col-md-3 mb-5">

                <div class="footer__services">

                    <ul>

                        <p class="footer--heading">Follow Us</p>

                        <i class="fab fa-facebook-square"></i>
                    
                    </ul>

                </div>

            </div>

        </div>
    </div>
</footer>