<div class="aboutus__breadcrumb">
    <div class="container">

        <ul class="d-flex flex-row">
            <li>Home ></li>
            <li class="active">About Us</li>
        </ul>
        <h1 class="aboutus__breadcrumb__heading">About Us</h1>
    </div>

</div>

<div class="container aboutus__container">
    <div class="row">
        <div class="col-md-12">
            <h1 class="aboutus__container__heading"><span class="aboutus__container__heading--bold">WHO</span> WE ARE ?
            </h1>

            <p class="aboutus__container__p">Established in 2010, by a team who has decades of combined experience in the localization Industry,
                Loc-Pros sought out to differentiate itself from the competition in terms of quality and service. We
                believe that it is our role to find the most affordable linguistic solutions available in the market to
                meet the needs and requirements of our clients. With a range of services, linguistic assets, and
                experiences that have been growing with us along the years we are better positioned than ever to provide
                our clients with the solutions they deserve. <br> <br>
                With over 7 years now in the market we are satisfied to say that we have been able to make a difference
                in the overall quality of the linguistic services market and we are still hoping to do much more.
            </p>
        </div>
    </div>
</div>