    nav {
        & ul {
            margin: 0;
            list-style: none;
            display: flex;
            flex-direction: row;

            & li {
                cursor: pointer;
                padding: 1rem;

                &:hover {
                    background-color: #136FA1;
                    color: aliceblue;
                }
            }
        }
    }