<nav>
    <div class="container">
        <div class="row">
            <div class="col-md-12 d-flex flex-row justify-content-between">
                <img src="../../assets/images/logo.png" width="50px" class="img-fluid d-inline" alt="">

                <ul>
                    <li>Home</li>
                    <li>About Us</li>
                    <li>Service</li>
                    <li>Contact Us</li>
                    <li>Join Us</li>
                    <li><i class="fab fa-linkedin"></i></li>
                </ul>
            </div>
        </div>
    </div>
</nav>
