<app-carousel></app-carousel>

<div class="banner">
    <div class="d-flex flex-row ">

        <p class="banner__text">Interested In<span class="banner--span">Trying </span> Us out</p>

        <a class="btn btn-primary banner--margin-auto">Get a Qoute Now</a>

    </div>
</div>


<section id="whatWeDo">

    <div class="container">

        <div class="row">

            <div class="col-md-12">

                <p class="whatWeDo__heading h2">What We Do?</p>

                <hr class="hr mb-5 mt-3">

            </div>

            <div class="col-md-12">

                <div class="row">

                    <div class="col-md-4">

                        <div class="whatWeDo__feature mb-5">

                            <i class="fas fa-language mb-2"></i>

                            <p class="whatWeDo__feature__heading">Translation and Review</p>

                            <p class="whatWeDo__feature--p">Having offices in Africa and Asia we have access to a wide
                                network of qualified linguists across many fields of expertise, allowing us to provide
                                excellent quality at affordable costs</p>

                        </div>

                    </div>

                    <div class="col-md-4">

                        <div class="whatWeDo__feature mb-5">

                            <i class="fas fa-desktop mb-2"></i>

                            <p class="whatWeDo__feature__heading">Desktop Publishing</p>

                            <p class="whatWeDo__feature--p">Using start of the art tools we are capable of handling even
                                the most complicated DTP tasks your organization may need.</p>

                        </div>

                    </div>

                    <div class="col-md-4">

                        <div class="whatWeDo__feature mb-5">

                            <i class="fas fa-microphone mb-2"></i>

                            <p class="whatWeDo__feature__heading">Transcription</p>

                            <p class="whatWeDo__feature--p">In addition to our wide network of bilingual linguists, we
                                have access to an even wider range of monolingual transcribers capable of covering all
                                your transcription and subtitling needs.</p>

                        </div>
                    </div>

                </div>

                <div class="row">

                    <div class="col-md-4">

                        <div class="whatWeDo__feature mb-5">

                            <i class="fas fa-volume-up mb-2"></i>

                            <p class="whatWeDo__feature__heading">Voice Over</p>

                            <p class="whatWeDo__feature--p">With experienced voice talent capable of providing
                                professional audio renditions in multiple formats, your voice over needs are covered at
                                Loc-Pros</p>

                        </div>

                    </div>

                    <div class="col-md-4">

                        <div class="whatWeDo__feature mb-5">

                            <i class="far fa-file-code mb-2"></i>

                            <p class="whatWeDo__feature__heading">Testing and Engineering</p>

                            <p class="whatWeDo__feature--p">Our testing solutions ensure your software, websites, and
                                multimedia will perform consistently across languages, operating systems, browsers,
                                channels, and devices.</p>
                                
                        </div>

                    </div>

                    <div class="col-md-4">

                        <div class="whatWeDo__feature mb-5">

                            <i class="fas fa-laptop-house mb-2"></i>

                            <p class="whatWeDo__feature__heading">E-learning Localization</p>

                            <p class="whatWeDo__feature--p">Our in-house instructional designers in addition to our
                                linguistic and typesetting capabilities make us uniquely positioned to handle E-learning
                                Localization tasks. </p>

                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>
</section>

<section id="WhyChooseUs">

    <div class="container">

        <div class="row">

            <div class="col-md-3">

                <div class="WhyChooseUs__block">

                    <i class="fas fa-angle-right"></i>

                    <p class="d-inline">Transparent Communication</p>
                    
                </div>

            </div>
            <div class="col-md-3">

                <div class="WhyChooseUs__block">

                    <i class="fas fa-angle-right"></i>

                    <p class="d-inline">Quick Turnaround</p>
                    
                </div>

            </div>
            <div class="col-md-3">

                <div class="WhyChooseUs__block">

                    <i class="fas fa-angle-right"></i>

                    <p class="d-inline">Excellent project management</p>
                    
                </div>

            </div>
            <div class="col-md-3">

                <div class="WhyChooseUs__block">

                    <i class="fas fa-angle-right"></i>

                    <p class="d-inline">Privacy & Confidentiality</p>
                    
                </div>

            </div>

        </div>

        <div class="row mt-5">

            <div class="col-md-3">

                <div class="WhyChooseUs__block">

                    <i class="fas fa-angle-right"></i>

                    <p class="d-inline">Premium Resources</p>
                    
                </div>

            </div>
            <div class="col-md-3">

                <div class="WhyChooseUs__block">

                    <i class="fas fa-angle-right"></i>

                    <p class="d-inline">Over 15+ Industries</p>
                    
                </div>

            </div>
            <div class="col-md-3">

                <div class="WhyChooseUs__block">

                    <i class="fas fa-angle-right"></i>

                    <p class="d-inline">Cross platform support</p>
                    
                </div>

            </div>
            <div class="col-md-3">

                <div class="WhyChooseUs__block">

                    <i class="fas fa-angle-right"></i>

                    <p class="d-inline">Affordable Quality</p>
                    
                </div>

            </div>

        </div>

        <div class="row mt-5">

            <div class="col-md-3">

                <div class="WhyChooseUs__block">

                    <i class="fas fa-angle-right"></i>

                    <p class="d-inline">Regional Focus</p>
                    
                </div>

            </div>
            <div class="col-md-3">

                <div class="WhyChooseUs__block">

                    <i class="fas fa-angle-right"></i>

                    <p class="d-inline">Scalability and Flexibility</p>
                    
                </div>

            </div>
            <div class="col-md-3">

                <div class="WhyChooseUs__block">

                    <i class="fas fa-angle-right"></i>

                    <p class="d-inline">One Stop Linguistic Solution Provider</p>
                    
                </div>

            </div>
            <div class="col-md-3">

                <div class="WhyChooseUs__block">

                    <i class="fas fa-angle-right"></i>

                    <p class="d-inline">Depth of Experience</p>
                    
                </div>

            </div>

        </div>
    </div>
</section>