<section id="ourServices">

    <div class="container-image">

        <img class="image" src="../../assets/images/services-banner.jpg" alt="">

        <div class="overlay"></div>

    </div>

    <div class="translationAndEditing">

        <div class="container">
            <div class="row">
                <div class="col-md-10">
                    <h1 class="translationAndEditing__heading pt-4 ">Translation And Editing</h1>
                    <p>
                        Having two offices in Africa and one in Asia has allowed us grow a large network of qualified resources covering the wide range of languages in the Middle-East and Asia. We understand the different linguistic considerations needed for localization into these languages and the different cultural nuances that come with each task. We are transparent, flexible, and provide our clients with service offerings that meet their demands. In a nutshell we are both region and industry focused and we provide our clients with affordable quality in the output format of their choice. <br> <br>

                        Having two offices in Africa and one in Asia has allowed us grow a large network of qualified resources covering the wide range of languages in the Middle-East and Asia. We understand the different linguistic considerations needed for localization into these languages and the different cultural nuances that come with each task. We are transparent, flexible, and provide our clients with service offerings that meet their demands. In a nutshell we are both region and industry focused and we provide our clients with affordable quality in the output format of their choice.
                    </p>
                </div>
                <div class="col-md-2">
                    <div class="translationAndEditing__IndustriesSupport">
                        <ul>

                            <h3 class="text-center">Industries We Support</h3>

                            <li>
                                <i class="fas fa-globe-europe"></i> Life Sciences
                            </li>
                            <li>
                                <i class="fas fa-globe-europe"></i> Life Sciences
                            </li>
                            <li>
                                <i class="fas fa-globe-europe"></i> Life Sciences
                            </li>
                            <li>
                                <i class="fas fa-globe-europe"></i> Life Sciences
                            </li>
                            <li>
                                <i class="fas fa-globe-europe"></i> Life Sciences
                            </li>
                            <li>
                                <i class="fas fa-globe-europe"></i> Life Sciences
                            </li>

        

              
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>