.contactus__breadcrumb {
    background-color: black;
    border-bottom: .3rem solid #777;
    border-top: .2rem solid #777;
    padding-top: 1rem;
    padding-bottom: 1rem;
    & ul {
        padding: 0;
        list-style: none;
        color: white;
        cursor: pointer;
        & li {
            margin-right: 1rem;
            padding-top: 1rem;
            color: #136FA1;
        }
        & .active {
            color: #777;
        }
    }

    &__heading {
        color: #fff;
    }
    
}


label, .form-control {
    margin-bottom: .8rem;
}


.contactus__heading {
    &--span {
        font-weight: bolder;
    }
}

.getInTouch {
    &__heading {
        color: #136FA1;
        &--span {
            font-weight: bolder;
        }
    }

    &__p {
        color: #777;
        line-height: 30px;
    }
}

.btn-submit {
    background-color: #136FA1;
    color: #fff;
}

hr {
    width: 50%;
    margin: auto;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

i {
    color: #136FA1;
    font-size: 1.5rem;
}

@media (min-width: 768px) {
    .contactUs {
        padding: 5rem;
    }
    
}