<div class="container-fluid">
    <div class="row">
        <div style="height: 100vh" class="col-md-2 bg-dark m-0 p-0">
            <h2 class="text-center mt-3 text-light">Dindo-lock</h2>
            <hr class="text-light">
            <ul class="list-unstyled text-center">
                <li routerLink="./contact-us">ContactUs</li>
                <li>ContactUs</li>
                <li>ContactUs</li>
                <li>ContactUs</li>
                <li>ContactUs</li>
            </ul>
        </div>
        <div class="col-md-10 m-0 p-0">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>
