<section id="ourServices">

    <div class="container-image">

        <img class="image" src="../../../assets/images/services-banner.jpg" alt="">

        <div class="overlay"></div>

    </div>

    <div class="translationAndEditing">

        <div class="container">
            <div class="row">
                <div class="col-md-9">
                    <h1 class="translationAndEditing__heading pt-4 ">Translation And Editing</h1>
                    <p>
                        Having two offices in Africa and one in Asia has allowed us grow a large network of qualified
                        resources covering the wide range of languages in the Middle-East and Asia. We understand the
                        different linguistic considerations needed for localization into these languages and the
                        different cultural nuances that come with each task. We are transparent, flexible, and provide
                        our clients with service offerings that meet their demands. In a nutshell we are both region and
                        industry focused and we provide our clients with affordable quality in the output format of
                        their choice. <br> <br>

                        Having two offices in Africa and one in Asia has allowed us grow a large network of qualified
                        resources covering the wide range of languages in the Middle-East and Asia. We understand the
                        different linguistic considerations needed for localization into these languages and the
                        different cultural nuances that come with each task. We are transparent, flexible, and provide
                        our clients with service offerings that meet their demands. In a nutshell we are both region and
                        industry focused and we provide our clients with affordable quality in the output format of
                        their choice.
                    </p>
                </div>
                <div class="col-md-3">
                    <div class="translationAndEditing__IndustriesSupport">
                        <ul>

                            <h5 class="translationAndEditing__IndustriesSupport--heading text-center">Industries <span
                                      style="font-weight: bold;">We</span> Support</h5>

                            <li>
                                <span class="translationAndEditing__IndustriesSupport--span">Life Sciences</span>
                            </li>
                            <li>
                                <span class="translationAndEditing__IndustriesSupport--span">Legal And Patents</span>
                            </li>
                            <li>
                                <span class="translationAndEditing__IndustriesSupport--span">Financial</span>
                            </li>
                            <li>
                                <span class="translationAndEditing__IndustriesSupport--span">Legal And Patents</span>
                            </li>
                            <li>
                                <span class="translationAndEditing__IndustriesSupport--span">Legal And Patents</span>
                            </li>
                            <li>
                                <span class="translationAndEditing__IndustriesSupport--span">Legal And Patents</span>
                            </li>

                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="container my-4">
        <div class="row">
            <div class="col-md-12">
                <hr class="w-50  m-auto">
            </div>
        </div>
    </div>

    <div class="linguisticAndTools pt-3">

        <!-- Linguistic Services -->
        <div class="linguisticAndTools__Linguistic">

            <div class="container">
                <div class="row">

                    <div class="col-md-6">

                        <p class="linguisticAndTools__Linguistic--heading mb-3">Linguistic <span
                                  style="font-weight: bold;">Services</span></p>
                        <div class="d-flex flex-row">
                            <div>
                                <ul>
                                    <li><i class="fas fa-check"></i>Translation</li>
                                    <li><i class="fas fa-check"></i>Editing</li>
                                    <li><i class="fas fa-check"></i>Proofreading</li>
                                    <li><i class="fas fa-check"></i>Post DTP Checks</li>
                                </ul>
                            </div>

                            <div>
                                <ul>
                                    <li><i class="fas fa-check"></i>Translation</li>
                                    <li><i class="fas fa-check"></i>Editing</li>
                                </ul>
                            </div>

                        </div>


                    </div>

                    <div class="col-md-6">

                        <h3 class="linguisticAndTools__Linguistic--heading">Our <span
                                  style="font-weight: bold;">Tools</span></h3>
                        <div class="d-flex flex-row">
                            <div>
                                <ul>
                                    <li><i class="fas fa-check"></i>SDL Trados Studio</li>
                                    <li><i class="fas fa-check"></i>Memsource</li>
                                    <li><i class="fas fa-check"></i>MemoQ</li>
                                </ul>
                            </div>

                            <div>
                                <ul>
                                    <li><i class="fas fa-check"></i>Wordfast</li>
                                    <li><i class="fas fa-check"></i>Across Language Server</li>
                                    <li><i class="fas fa-check"></i>Wordbee</li>
                                </ul>
                            </div>

                        </div>


                    </div>

                </div>
            </div>
        </div>
    </div>

    <hr>

    <!-- Desktop Services-->

    <div class="container desktopService pb-5">
        <div class="row">
            <h6 class="desktopService--mainHeading text-center py-5">Desktop <span
                      style="font-weight: bold;">Publishing</span></h6>
            <div class="col-md-6">
                <img class="img-fluid" src="../../../assets/images/desktop-services.jpg" alt="">
            </div>
            <div class="col-md-6 desktopService__p">
                <p>We provide specialized consulting services associated with multilingual desktop publishing, digital
                    typesetting, and pre-publishing layout for business marketing, engineering applications, and
                    technical publications. Our desktop publishing services are of the highest quality available. We can
                    provide you with our DTP services in either Mac or PC format and we are capable of converting
                    documents across platforms whenever necessary.
                </p>

                <div class="row">
                    <div class="col-md-6">
                        <h3 class="desktopService--heading">Our <span style="font-weight: bold;">Tools</span></h3>

                        <div class="row">

                            <div class="col-md-6">

                                <ul style="list-style: none;">
                                    <li><i class="fas fa-check"></i>InDesign</li>
                                    <li><i class="fas fa-check"></i>Illustrator</li>
                                    <li><i class="fas fa-check"></i>Photoshop</li>
                                    <li><i class="fas fa-check"></i>FrameMaker</li>
                                    <li><i class="fas fa-check"></i>QuickSilver</li>
                                    <li><i class="fas fa-check"></i>AutoCAD</li>
                                </ul>

                            </div>

                            <div class="col-md-6">
                                <ul>
                                    <li><i class="fas fa-check"></i>InDesign</li>
                                    <li><i class="fas fa-check"></i>Illustrator</li>
                                    <li><i class="fas fa-check"></i>Photoshop</li>
                                    <li><i class="fas fa-check"></i>FrameMaker</li>
                                    <li><i class="fas fa-check"></i>QuickSilver</li>
                                    <li><i class="fas fa-check"></i>AutoCAD</li>
                                </ul>

                            </div>
                        </div>


                    </div>
                    <div class="col-md-6">
                        <h3 class="desktopService--heading">Languages <span style="font-weight: bold;">We</span> Support
                        </h3>
                        <ul>
                            <li><i class="fas fa-globe-asia"></i> Asian</li>
                            <li><i class="fas fa-globe-asia"></i> Baltic</li>
                            <li><i class="fas fa-globe-asia"></i> Central European</li>
                            <li><i class="fas fa-globe-asia"></i> Cyrillic</li>
                            <li><i class="fas fa-globe-asia"></i> Latin</li>
                            <li><i class="fas fa-globe-asia"></i> Middle Eastern</li>
                        </ul>
                    </div>
                </div>

            </div>


        </div>
    </div>

    <hr>

    <!-- Transcription -->
    <div class="container transcriptionService mb-5">
        <div class="row">
            <div class="col-md-9 shadow-sm transcriptionService__container p-4 m-auto">
                <div class="col-md-12">
                    <i class="fas fa-microphone-alt pb-3"></i>
                    <h1>Transcription</h1>
                    <p class="px-5 text-center">We currently provide transcription service to all Middle Eastern
                        Languages. We can conform to your needs and requirements regarding punctuation and style and
                        work with your custom transcription platforms as needed. We have a unique testing and feedback
                        process to recruit and manage talent and we can handle projects in many language variants and
                        accents.
                    </p>
                    <div class="col-md-12 pt-2">
                        <img src="../../../assets/images/waves.jpg" class="img-fluid transcriptionService--wave" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <hr>

    <!-- Voice Over Section -->
    <div class="container voiceOverService">
        <div class="row">
            <div class="col-md-7">
                <h1 class="voiceOverService__h1 pt-5">Voice <span class="voiceOverService--span">Over</span></h1>
                <p class="text-center voiceOverService__language pb-3">English - Arabic</p>
                <p class="voiceOverService__p pb-3 pt-3">Our voice over capabilities arose from our clients needs for
                    narration and voice acting related to online learning videos and courses; most important of which is
                    E-learning. While we don’t generally offer voice over services for marketing purposes our expertise
                    covers the following:</p>
                <ul>
                    <li><i class="fas fa-check"></i>Audiobooks</li>
                    <li><i class="fas fa-check"></i>Business</li>
                    <li><i class="fas fa-check"></i>Documentaries</li>
                    <li><i class="fas fa-check"></i>Animations</li>
                </ul>
            </div>
            <div class="col-md-4">
                <img style="margin-top: 6rem;" src="../../../assets/images/voice.jpg" class="img-fluid" alt="">
            </div>
        </div>
    </div>

    <hr>

    <!-- Testing and Localization Engineering -->
    <div class="container testingAndLocalicationService">
        <div class="row">
            <h1 class="testingAndLocalicationService__heading text-center">Testing and <span
                      class="testingAndLocalicationService--span">Localization Engineering</span></h1>

            <div class="col-md-7">
                <p>Software localization engineering and testing are critical to the delivery of successful and
                    consistent localized products. Expert localization engineering ensures that a localization project
                    runs efficiently, ultimately leading to reduced turnaround time and translation costs.Our
                    localization engineers are thoroughly trained on Localization processes and best practices with
                    extensive experience working with software, web, and mobile application interfaces. They are also
                    capable of text extractions, TM leveraging, fuzzy match analysis, file format conversions,
                    terminology mining, and resource file compiling. The following are part of our Localization
                    Engineering offerings:</p>

                <ul>
                    <li><i class="fas fa-check"></i>Product analysis, file format conversion, and localizability
                        assessments</li>
                    <li><i class="fas fa-check"></i>Customization of localization processes</li>
                    <li><i class="fas fa-check"></i>Automation of engineering tasks</li>
                    <li><i class="fas fa-check"></i>Term mining and TM optimization</li>
                    <li><i class="fas fa-check"></i>Post-processing of translated files</li>
                    <li><i class="fas fa-check"></i>Testing localized products for usability across platforms</li>
                    <li><i class="fas fa-check"></i>Fixing bugs</li>
                </ul>
            </div>
            <div class="col-md-4">
                <img src="../../../assets/images/testing.png" class="img-fluid" alt="">
            </div>
        </div>
    </div>

    <hr>

    <!-- E-Learning Localization -->

    <div class="container learningLocalicationService mb-5">
        <div class="row">

            <div class="col-md-12">

                <h1 class="text-center learningLocalicationService__heading mb-5 mt-5">E-Learning <span
                          class="learningLocalicationService__heading--span">Localization</span></h1>

                <p class="learningLocalicationService__p">The importance of E-learning has been growing worldwide for
                    some time due to the tangible increase in
                    resources/students who need and demand a better education and continued growth.</p>

                <p class="learningLocalicationService__p mb-5">Our in-house curriculum development expertise in addition
                    to our internal translation and Desktop
                    Publishing experience uniquely positions us to handle E-learning Localization tasks. We are
                    especially experienced in handling Adobe Captivate and Articulate Storyline projects.</p>
            </div>

            <div class="row">

                <div class="col-md-6">

                    <img src="../../../assets/images/articulate.jpg"
                         class="img-fluid mb-3 learningLocalicationService__icon" alt="">
                    <span class="learningLocalicationService__icon--text">Articulate</span>
                    <img src="../../../assets/images/before_c.jpg" class="img-fluid" alt="">

                </div>

                <div class="col-md-6">

                    <img src="../../../assets/images/cp.jpg" class="img-fluid mb-3 learningLocalicationService__icon"
                         alt=""> <span class="learningLocalicationService__icon--text">Adobe Captivate</span>

                    <img src="../../../assets/images/before_c.jpg" class="img-fluid" alt="">

                </div>
            </div>
        </div>
    </div>
</section>
