<div class="container">
    <div class="row pt-3">
        <form [formGroup]="contactusForm">

        <div class="col-md-4 mb-3">
            <label for="name">Name</label>
            <input readonly formControlName="name" type="text" class="form-control" id="name"
                   aria-describedby="name" placeholder="Enter email">
        </div>

        <div class="col-md-4 mb-3">
            <label for="email">Email</label>
            <input readonly formControlName="email" type="email" class="form-control" id="email"
                   aria-describedby="email" placeholder="Enter email">
        </div>

        <div class="col-md-4 mb-3">
            <label for="subject">Subject</label>
            <input readonly formControlName="subject" type="text" class="form-control" id="subject"
                   aria-describedby="subject" placeholder="Enter email">
        </div>

        <div class="col-md-12">
            <label for="message">Message</label>
            <textarea readonly formControlName="message" class="form-control" id="message" rows="10"></textarea>
        </div>
        </form>

    </div>
</div>
