<div class="container">
    <button routerLink="../contact-us">BACK</button>
    <div class="row">

        <div class="col-md-4">
            <span>Name: {{curentEmail?.name}}</span>
        </div>

        <div class="col-md-4">
            <span>Email: {{curentEmail?.email}}</span>
        </div>

        <div class="col-md-4">
            <span>Subject: {{curentEmail?.subject}}</span>
        </div>
    </div>

    <div class="row mt-4">

        <div class="col-md-12">
            <span>Message: {{curentEmail?.message}}</span>
        </div>

    </div>
</div>
